<nav style="text-align: right">
  <% if current_user %>
    <p>
      <%= link_to('Logout', destroy_user_session_path, method: :delete ) %>
    </p>
    <p>
      <%=link_to 'Edit account', edit_user_registration_path %>
    </p>
    <br />
    <%= image_tag(current_user.avatar_thumbnail) %>
  <% end %>
</nav>
<div id="root"></div>
<%= javascript_pack_tag 'index' %>
